@import "~antd/lib/style/color/colors.less";

.button-block {
	width: 100%;
}

.content {
	display: flex;
	padding: 30px;
	justify-content: center;
}

.content-vertical {
	flex-direction: column;
	align-items: center;
}

.property-filters {
	max-width: 800px;
	width: 100%;

	.price-input {
		width: 50%;

		& .ant-input-number {
			width: 100%;
		}
	}
}

.property-alert {
	max-width: 800px;
	width: 100%;
	margin-top: 16px;
}

.property-card {
	max-width: 800px;
	width: 100%;
	min-width: 350px;

	img {
		object-fit: cover;
	}
}

.width-medium {
	width: 600px;
}

.w-100 {
	width: 100%;
}

.text-accent {
	color: @blue-7;
}

.property-list {
	.w-100();
	max-width: 800px;

	.property-list-item {
		& > .ant-list-item-main {
			display: flex;
			flex-direction: column;
		}
	}

	.image > img {
		object-fit: cover;
	}

	.price {
		padding: 10px;
		display: inherit;
		margin: 0;
		text-align: end;

		&.priority-high {
			background: @blue-7;
			color: white;
		}
	}

	.title {
		&:hover {
			text-decoration: underline;
			color: @blue-6;
		}
	}

	.type {
		text-transform: capitalize;
	}

	.listed-time {
		margin-top: auto;
		margin-bottom: 10px;
	}
}

.vertical-center {
	align-self: center;
}

.text-center {
	text-align: center;
}

.ant-form div:last-of-type {
	margin-bottom: 0;
}
